html
{
    background-color: white;
}

.container
{
    display: flex;
    justify-content: flex-end;
}

.Gmail, .Images, .Applications, .Connexion {
  height: $height;
  min-width: $minWidth;
  margin-right: 10px;
}


.Connexion {
    background:#1E90FF;
    color:white;
}

.Google {
   display: flex;
   width: 400px;
   height: 400px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}